# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# large Output files 
/*.tar.gz
/*.bam
*.bam
*fastq.gz
*.cov.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


TagSeq/analyses/GFFcorrection_UTR/GCF_000002075.1_AplCal3.0_mitochondrial.gff
TagSeq/analyses/GFFcorrection_UTR/GCF_000002075.1_AplCal3.0_genomic.gff
*.fasta
*.tmp
*.gff
